<section class="about-section">
    <h1>About Fitnected</h1>
    <div class="first-para">
        <img src="/images/eTracking_progress.jpg" alt="Progress_tracking_on_laptop">
        <p>With the rise in awareness and popularity of the fitness being incorporated into the daily lifestyle of people around the world along with the adaptation of technolgy such as e-trackers, websites and apps are a common norm in this age to keep track of progress in our daily life such as work projects, school homework, financial savings and guess what...fitness!</p>
    </div>

    <div class="second-para">
        <p>People around the world have been tracking their fitness progress, either through their very own fitness coach or simply their own piece of paper. This is why Fitnected is born, to provide a convenient way to log and keep track of fitness records all in a single platform under your very own account.</p>
        <img src="/images/fitness_tracking_app_sample.jpg" alt="fitness_tracker_concept">
    </div>
</section>