<section class="contact-page">
    <div class="company-location">
        <h1>Locate Us</h1>

        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBalQ4pz4u1D4dQjIv8LqFCMM735of9yN8
            &q=place_id:ChIJMfeAczVd1moRJMbjy-dJdrM" allowfullscreen>
        </iframe>
    </div>

    <div class="company-contact">
        <figure>
            <img src="/images/email_icon.png" alt="email_icon">
            <p>bernnystrom@gmail.com</p>
        </figure>
        
        <figure>
            <img src="/images/phone_icon.png" alt="phone_icon">
            <p>+61 3 8368 0286</p>
        </figure>
    </div>
</section>