<section class="app-intro">
    <h1>Welcome to Fi&#882;nected</h1>
    <p>Connect your lifestyle through fitness with your very own personalized profile, along with your very own exercise and diet tracker, all in one "Fit-nected".</p>
</section>

<div class="resources">
    <p>Check out some of our great partners for useful resources to add to your Fit goals, right here at Fitnected!</p>
</div>

<section class="external-resources">
    <figure>
        <img src="/images/iHerb_brand_logo.png" alt="iHerb_logo">
        <figcaption><a href="https://www.iherb.com/" target="_blank">iHerb</a></figcaption>
        <figcaption class="description">For your supplementation needs</figcaption>
    </figure>

    <figure>
        <img src="/images/fit_men_cook_brand_logo.jpg" alt="Fit_Men_Cook_logo">
        <figcaption><a href="https://fitmencook.com/" target="_blank">Fit Men Cook</a></figcaption>
        <figcaption class="description">Fit recipes for your dietary needs</figcaption>
    </figure>

    <figure>
        <img src="/images/muscle_and_strength_logo.png" alt="muscle_and_strength_logo">
        <figcaption><a href="https://www.muscleandstrength.com/workout-routines" target="_blank">Muscle & Strength</a></figcaption>
        <figcaption class="description">Training routines to keep things interesting</figcaption>
    </figure>
</section>